<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link
        href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet"
      />
    </head>
    <style>

    </style>
    <body class="blue lighten-2 white-text">
        <nav>
            <div class="nav-wrapper blue">
              <a class="brand-logo" style="padding-left: 20px"
                ><i class="material-icons right">headphones</i>Music Recommender</a
              >
            </div>
          </nav>
          <div class="container">
              <div style="margin-top: 5rem" class="card blue darken-4">
                  <div class="card-content">
            <form class="card-content" method="POST" action="/create_account">
              <h3>Create Account</h3>
              <input type="text" name="email" placeholder="email">
              <input type="password" name="password" placeholder="Password">
              <input type="text" name="first_name" placeholder="First Name">
              <input type="text" name="last_name" placeholder="Last Name">
              <input type="text" name="gender" placeholder="Gender">
              <p>Date of Birth:</p>
              <input type="date" name="dob" id="dob">
              <input class="waves-effect waves-light btn-small" type="submit" value="Create Account">
            </form>
            </div>
    </div>
        
    </body>
</html>
