<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>
<style>
::-webkit-input-placeholder { /* WebKit browsers */
    color:    black;
     opacity: 1 !important;
}
</style>

<body class="grey darken-1 black-text">
  <nav>
    <div class="nav-wrapper green darken-2">
      <a class="brand-logo" style="padding-left: 20px"><i class="material-icons right">headphones</i>Music
        Recommender</a>
    </div>
  </nav>
  <div class="container z-depth-5">
    <div style="margin-top: 5rem" class="card grey lighten-2">
      <div class="card-content">
        <form class="card-content" method="POST" action="/login">
          <input type="text" name="email" placeholder="email">
          <input type="password" name="password" placeholder="Password">
          <input class="waves-effect waves-light green btn-small" type="submit" value="Login"></input>
          <a class="waves-effect waves-light green btn-small" href="/create_account">Create Account</a>
        </form>
      </div>
    </div>

</body>

</html>